<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Kendo Dream Car Shopper</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/kendo.common.min.css" rel="stylesheet"/>
        <link href="~/Content/themes/base/kendo.default.min.css" rel="stylesheet" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"><a href="@Url.Action("Index","Home")"><img src="~/Content/images/logo.png" /></a></p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                </div>
                <nav>
                    <ul id="menu">
                        <li>Makes
                            <ul id="makesMenu" style="display:none">
                                
                            </ul>
                        </li>
                        @if (User.IsInRole("Admin")) {
                            <li>Maintenance
                                <ul style="display:none">
                                    <li>@Html.ActionLink("Makes", "Makes","Maintenance")</li>
                                    <li>@Html.ActionLink("Models", "Models","Maintenance")</li>
                                </ul>
                            </li>
                        }
                        <li>About</li>
                        <li>Contact</li>
                    </ul>
                </nav>
            </div>
        </header>
        <div id="body">
            <div class="content-wrapper">
                <hr/>
            </div>
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Kendo Dream Car Shopper</p>
                </div>
            </div>
        </footer>
        <script src="~/Scripts/kendo.web.js"></script>
        <script src="~/Scripts/App/Views/Shared/Layout.js"></script>
        <script src="~/Scripts/utils.min.js"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
